<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ajoutez une nouvelle destination à notre catalogue.">
    <meta name="keywords" content="voyage, ajout, destination">
    <meta name="author" content="Younes Achouche, Zayd Ajjaji, Lucas Colussi, Mehdi El Kadaoui, Daniele Sandra Tonfack Yonta">
    <title>Qui sommes-nous ? - Evazion</title>
    <link rel="icon" type="image/x-icon" href="/assets/evazion-logo.png">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/scroll-top-button.css">
    <link rel="stylesheet" href="/styles/about-us.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <header class="header">
        <div class="top-bar">
            <div class="logo">
                <a th:href="@{/}">
                    Evazion
                </a>
            </div>
            <ul class="navigation">
                <li class="navigation-item trips-item">
                    <a th:href="@{/destinations}">Voyages</a>
                </li>
                <li class="navigation-item">
                    <a th:href="@{/reviews}">Avis</a>
                </li>
                <li class="navigation-item">
                    <a th:href="@{/contact}">Contact</a>
                </li>
                <li class="navigation-item buttons-container">
                    <a th:href="@{/users/user-profile}" class="navigation-item account">
                        <i class="fa-solid fa-user"></i> Compte
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <section class="main-section">
        <h1 class="title">Qui sommes-nous ?</h1>
        <p>Bienvenue sur notre site ! Nous sommes un groupe d’étudiants en ingénierie informatique, passionnés par les nouvelles technologies et désireux de créer des projets concrets. Ce site est le fruit de notre travail collaboratif dans le cadre d’un projet académique, où nous avons combiné nos compétences pour concevoir une plateforme fonctionnelle et innovante.</p>
        <div class="member-container">
            <div class="member">
                <img src="/assets/younes.jpg" class="member-image">
                <div class="member-text">
                    <h3>Younes Achouche</h3>
                    <p>Younes est un aventurier dans l’âme, toujours à la recherche de nouvelles expériences et découvertes. Son enthousiasme pour les voyages se traduit par une vision créative et une capacité à penser hors des sentiers battus. Il inspire l’équipe à repousser ses limites et à intégrer des perspectives internationales au projet.</p>
                </div>
            </div>
            <div class="member">
                <img src="/assets/---.jpeg" class="member-image">
                <div class="member-text">
                    <h3>Zayd Ajjaji</h3>
                    <p>Zayd est le pragmatique du groupe, mais cela ne l’empêche pas d’être un grand passionné de voyages. Ses expériences à travers le monde lui permettent d’apporter une approche structurée et multiculturelle à l’équipe. Toujours organisé, il s’assure que chaque étape soit bien planifiée, tout en restant ouvert à l’imprévu, comme dans un voyage.</p>
                </div>
            </div>
            <div class="member">
                <img src="/assets/lucas.jpeg" class="member-image">
                <div class="member-text">
                    <h3>Lucas Colussi</h3>
                    <p>Lucas est un rêveur et un explorateur, captivé par la diversité des cultures et des paysages. Sa passion pour les voyages se retrouve dans sa capacité à concevoir des expériences uniques et immersives, que ce soit dans le projet ou dans ses interactions avec l’équipe. Il apporte une touche d’originalité qui donne vie à vos idées.</p>
                </div>
            </div>
            <div class="member">
                <img src="/assets/mehdi.jpeg" class="member-image">
                <div class="member-text">
                    <h3>Mehdi El Kadaoui</h3>
                    <p>Mehdi est le coordinateur et le globe-trotteur du groupe. Toujours prêt à partir à l’aventure, il sait canaliser l’énergie de l’équipe pour atteindre des objectifs communs. Sa capacité à relier les idées de chacun reflète son goût pour les rencontres et les échanges culturels qu’il a vécus lors de ses voyages.</p>
                </div>
            </div>
            <div class="member">
                <img src="/assets/daniele.jpg" class="member-image">
                <div class="member-text">
                    <h3>Daniele Sandra Tonfack Yonta</h3>
                    <p>Daniele est une passionnée de voyages et de découvertes, toujours prête à partager son énergie et ses idées pour enrichir le projet. Elle apporte une approche réfléchie et créative, combinant sa curiosité pour les cultures du monde et sa capacité technique. Sa contribution est essentielle pour donner une véritable dimension internationale au projet.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-top">
                <h3>Evazion</h3>
                <p>Evazion propose des voyages sur mesure pour des escapades uniques, mêlant aventure, détente et découvertes culturelles. Faites confiance à notre expertise pour transformer vos envies d’évasion en souvenirs mémorables, où que vos rêves vous mènent.</p>
            </div>
            <div class="footer-center">
                <div class="footer-center-section">
                    <h3>Accès rapide</h3>
                    <ul class="pages">
                        <li>
                            <a th:href="@{/about-us}">Qui sommes-nous ?</a>
                        </li>
                        <li>
                            <a th:href="@{/faq}">Foire aux questions</a>
                        </li>
                        <li>
                            <a th:href="@{/reviews}">Avis</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-center-section">
                    <h3>Contactez-nous</h3>
                    <ul class="contact">
                        <li>
                            <i class="fa-solid fa-phone"></i> +33 1 23 45 67 89
                        </li>
                        <li>
                            <a href="mailto:contact@evazion.com" target="_blank"><i class="fa-solid fa-envelope"></i> contact@evazion.com</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> Evazion - Agence de voyage</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> evazionvoyages</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-center-section">
                    <h3>Partenaires</h3>
                    <ul class="partners">
                        <li>SkyLynx Airways</li>
                        <li>Aurora Haven</li>
                        <li>Pathfinders Collective</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer-bottom">
                <ul class="documents">
                    <li>
                        <a th:href="@{/politique-de-confidentialite}">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a th:href="@{/cgv}">Conditions générales de ventes</a>
                    </li>
                </ul>
                <p>© 2024 Evazion - Tous droits réservés.</p>
            </div>
        </div>
    </footer>
    <a href="#" class="scroll-top-button">
        <i class="fa-solid fa-arrow-up"></i>
    </a>
    </body>
</html>