<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Supprimer un utilisateur">
    <meta name="keywords" content="utilisateur, supprimer">
    <meta name="author" content="Evazion">
    <title>Liste des utilisateurs - Evazion</title>
    <link rel="icon" type="image/x-icon" href="/assets/evazion-logo.png">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/scroll-top-button.css">
    <link rel="stylesheet" href="/styles/user-list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<header class="header">
    <div class="top-bar">
        <div class="logo">
            <a th:href="@{/}">
                Evazion
            </a>
        </div>
        <ul class="navigation">
            <li class="navigation-item trips-item">
                <a th:href="@{/destinations}">Voyages</a>
            </li>
            <li class="navigation-item">
                <a th:href="@{/reviews}">Avis</a>
            </li>
            <li class="navigation-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <li class="navigation-item buttons-container">
                <a th:href="@{/templates/review/user-profile}" class="navigation-item account">
                    <i class="fa-solid fa-user"></i> Compte
                </a>
            </li>
        </ul>
    </div>
    <div class="base-line">
        <strong class="base-line-name">Evazion</strong>
        <span class="base-line-slogan">Laissez vos rêves devenir votre prochaine evazion.</span>
    </div>
</header>
<!--/*@thymesVar id="successMessageRegisterUserAsAdmin" type="java"*/-->
<p class="notification" th:if="${successMessageRegisterUserAsAdmin}">
    <i class="fa-solid fa-user-plus"></i>
    <span th:text="${successMessageRegisterUserAsAdmin}"></span>
</p>

<!--/*@thymesVar id="successMessageUpdateUser" type="java"*/-->
<p class="notification" th:if="${successMessageUpdateUser}">
    <i class="fa-solid fa-user-check"></i>
    <span th:text="${successMessageUpdateUser}"></span>
</p>

<!--/*@thymesVar id="successMessageDeleteUser" type="java"*/-->
<p class="notification" th:if="${successMessageDeleteUser}">
    <i class="fa-solid fa-user-xmark"></i>
    <span th:text="${successMessageDeleteUser}"></span>
</p>
<section class="main-section">
    <h1 class="title">Liste des réservations</h1>
    <p class="description">Les réservations et leurs informations sont listées dans le tableau ci-dessous.</p>
    <table>
        <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Destination</th>
            <th>Nombre de passagers</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Prix total</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Boucle Thymeleaf pour afficher les utilisateurs -->
        <tr th:each="booking : ${bookings}">
            <td th:text="${booking.user.firstname} + ' ' + ${booking.user.lastname}">Nom Prénom</td>
            <td th:text="${booking.destination.country} + ', ' + ${booking.destination.city}">Pays, Ville</td>
            <td th:text="${booking.nbPassengers}">Nombres de passagers</td>
            <td th:text="${booking.destination.startDate}">Début</td>
            <td th:text="${booking.destination.endDate}">Fin</td>
            <td th:text="${booking.totalPrice} + '€'">Prix total</td>
            <td>
                <button th:onclick="|window.location='/booking/booking-edit/' + ${booking.bookingId}|" class="edit-button"><i class="fa-solid fa-user-pen"></i>Modifier</button>
                <button th:onclick="|window.location='/booking/delete/' + ${booking.bookingId}|" class="delete-button"><i class="fa-solid fa-trash"></i>Supprimer</button>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-top">
            <h3>Evazion</h3>
            <p>Evazion propose des voyages sur mesure pour des escapades uniques, mêlant aventure, détente et découvertes culturelles. Faites confiance à notre expertise pour transformer vos envies d’évasion en souvenirs mémorables, où que vos rêves vous mènent.</p>
        </div>
        <div class="footer-center">
            <div class="footer-center-section">
                <h3>Accès rapide</h3>
                <ul class="pages">
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Qui sommes-nous ?</a>
                    </li>
                    <li>
                        <a href="faq.html">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="footer-center-section">
                <h3>Contactez-nous</h3>
                <ul class="contact">
                    <li>
                        <i class="fa-solid fa-phone"></i> +33 1 23 45 67 89
                    </li>
                    <li>
                        <a href="mailto:contact@evazion.com" target="_blank"><i class="fa-solid fa-envelope"></i> contact@evazion.com</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> Evazion - Agence de voyage</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> evazionvoyages</a>
                    </li>
                </ul>
            </div>
            <div class="footer-center-section">
                <h3>Partenaires</h3>
                <ul class="partners">
                    <li>Partenaire 1</li>
                    <li>Partenaire 2</li>
                    <li>Partenaire 3</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <ul class="documents">
                <li>
                    <a href="#">Politique de confidentialité</a>
                </li>
                <li>
                    <a href="#">Conditions générales de ventes</a>
                </li>
            </ul>
            <p>© 2024 Evazion - Tous droits réservés.</p>
        </div>
    </div>
</footer>
<a href="#" class="scroll-top-button">
    <i class="fa-solid fa-arrow-up"></i>
</a>
</body>
</html>
