<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez nos offres de voyage autour du monde !">
    <meta name="keywords" content="voyage, tourisme, vacances">
    <meta name="author" content="Younes Achouche, Zayd Ajjaji, Lucas Colussi, Mehdi El Kadaoui, Daniele Sandra Tonfack Yonta">
    <title>CGV - Evazion</title>
    <link rel="icon" type="image/x-icon" href="/assets/evazion-logo.png">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/scroll-top-button.css">
    <link rel="stylesheet" href="/styles/documents.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<header class="header">
    <div class="top-bar">
        <div class="logo">
            <a th:href="@{/}">
                Evazion
            </a>
        </div>
        <ul class="navigation">
            <li class="navigation-item trips-item">
                <a th:href="@{/destinations}">Voyages</a>
            </li>
            <li class="navigation-item">
                <a th:href="@{/reviews}">Avis</a>
            </li>
            <li class="navigation-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <div class="navigation-item buttons-container">
                <a th:href="@{/users/user-profile}" class="navigation-item account">
                    <i class="fa-solid fa-user"></i> Compte
                </a>
            </div>
        </ul>
    </div>
    <div class="base-line">
        <strong class="base-line-name">Evazion</strong>
        <span class="base-line-slogan">Laissez vos rêves devenir votre prochaine evazion.</span>
    </div>
</header>
    <section class="content">
        <h1>Conditions Générales de Vente</h1>
        <div class="part">
            <p>
                <span class="date">Dernière mise à jour : 28 nov. 2024</span>
                <br><br>
                Les présentes Conditions Générales de Vente (CGV) définissent les droits et obligations d'Evazion et de ses clients dans le cadre de la réservation de voyages. En utilisant nos services, vous acceptez ces conditions dans leur intégralité.
            </p>
        </div>
        <div class="part">
            <h2><span>1.</span> Prestations proposées</h2>
            <p>Evazion propose des services de réservation pour des voyages comprenant des vols, des hébergements, des activités et des services annexes. Les prestations présentées sur notre site sont valables dans la limite des disponibilités. Les descriptifs et tarifs sont régulièrement mis à jour pour garantir leur exactitude. Toutefois, des modifications peuvent intervenir en raison de changements opérés par nos partenaires ou prestataires.</p>
        </div>
        <div class="part">
            <h2><span>2.</span> Réservation et paiement</h2>
            <p>
                Toute réservation effectuée sur notre site est ferme et définitive dès réception de votre paiement. Les prix affichés sont exprimés en euros et incluent les taxes applicables, sauf indication contraire. Le paiement peut être effectué par carte bancaire via une plateforme sécurisée, ou tout autre moyen spécifié lors de la commande. Une confirmation de réservation vous sera envoyée par e-mail une fois la transaction validée.
                <br><br>
                En cas de non-paiement ou de problème technique au moment de la réservation, Evazion se réserve le droit d’annuler votre commande.
            </p>
        </div>
        <div class="part">
            <h2><span>3.</span> Modifications et annulations</h2>
            <p>
                Toute demande de modification ou d'annulation doit être formulée par écrit via notre adresse de contact ou notre interface dédiée. Les conditions applicables dépendent des modalités spécifiques de chaque prestation et des politiques de nos partenaires. Des frais peuvent s’appliquer, notamment en cas de modification tardive ou d'annulation.
                <br><br>
                Dans le cas où une prestation serait annulée de notre fait, en raison de circonstances exceptionnelles ou d’un défaut de la part d’un prestataire, vous serez informé dans les plus brefs délais et un remboursement intégral ou une solution de remplacement vous sera proposé.
            </p>
        </div>
        <div class="part">
            <h2><span>4.</span> Responsabilités</h2>
            <p>
                Evazion agit en tant qu’intermédiaire entre vous et les prestataires de services (compagnies aériennes, hôtels, transporteurs, etc.). Bien que nous sélectionnions nos partenaires avec soin, nous ne pouvons être tenus responsables des éventuelles défaillances ou imprévus liés à leurs services.
                <br><br>
                En outre, il est de votre responsabilité de vous assurer que vos documents de voyage (passeport, visa, etc.) sont en règle et conformes aux exigences du pays de destination. Evazion ne pourra être tenu responsable d’un refus d’entrée ou de tout problème lié à une documentation incomplète ou non valide.
            </p>
        </div>
        <div class="part">
            <h2><span>5.</span> Prix et taxes</h2>
            <p>Les prix affichés sur notre site sont valables au moment de la réservation. Ils peuvent inclure ou exclure certaines taxes locales ou frais supplémentaires, comme des taxes de séjour ou des frais de bagages, qui restent à la charge du client. Toute erreur manifeste de tarification résultant d’un dysfonctionnement technique pourra entraîner l’annulation de la réservation concernée, avec un remboursement intégral proposé au client.</p>
        </div>
        <div class="part">
            <h2><span>6.</span> Propriété intellectuelle</h2>
            <p>Tous les contenus présents sur le site Evazion, y compris les textes, images, logos et éléments graphiques, sont protégés par les lois relatives à la propriété intellectuelle. Toute reproduction, modification ou utilisation non autorisée est strictement interdite sans notre accord écrit préalable.</p>
        </div>
        <div class="part">
            <h2><span>7.</span> Données personnelles</h2>
            <p>Le traitement des données personnelles collectées dans le cadre des réservations est régi par notre Politique de confidentialité. Nous nous engageons à respecter la réglementation en vigueur et à protéger vos informations conformément à nos engagements.</p>
        </div>
        <div class="part">
            <h2><span>8.</span> Litiges et droit applicable</h2>
            <p>Les présentes CGV sont régies par le droit français. En cas de litige, une solution amiable sera recherchée en priorité. Si aucun accord n’est trouvé, le litige pourra être porté devant les tribunaux compétents. Vous avez également la possibilité de recourir à une médiation via un organisme agréé.</p>
        </div>
        <div class="part">
            <h2><span>9.</span> Contact</h2>
            <p>
                Pour toute question ou réclamation concernant ces conditions générales de vente, vous pouvez nous contacter à l’adresse suivante :
                <br><br>
                Evazion - Service client
                <br>
                Adresse : 9 rue Roger Salengro, 59155 Faches-Thumesnil, France
                <br>
                E-mail : contact@evazion.com
                <br>
                Téléphone : +33 1 23 45 67 89
            </p>
        </div>
        <div class="part">
            <p>Ces conditions visent à encadrer nos services de manière transparente et équitable. Nous vous remercions de votre confiance et vous souhaitons un excellent voyage avec Evazion.</p>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-top">
                <h3>Evazion</h3>
                <p>Evazion propose des voyages sur mesure pour des escapades uniques, mêlant aventure, détente et découvertes culturelles. Faites confiance à notre expertise pour transformer vos envies d’évasion en souvenirs mémorables, où que vos rêves vous mènent.</p>
            </div>
            <div class="footer-center">
                <div class="footer-center-section">
                    <h3>Accès rapide</h3>
                    <ul class="pages">
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Qui sommes-nous ?</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-center-section">
                    <h3>Contactez-nous</h3>
                    <ul class="contact">
                        <li>
                            <i class="fa-solid fa-phone"></i> +33 1 23 45 67 89
                        </li>
                        <li>
                            <a href="mailto:contact@evazion.com" target="_blank"><i class="fa-solid fa-envelope"></i> contact@evazion.com</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> Evazion - Agence de voyage</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> evazionvoyages</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-center-section">
                    <h3>Partenaires</h3>
                    <ul class="partners">
                        <li>SkyLynx Airways</li>
                        <li>Aurora Haven</li>
                        <li>Pathfinders Collective</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer-bottom">
                <ul class="documents">
                    <li>
                        <a href="politique-de-confidentialite.html">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a href="cgv.html">Conditions générales de ventes</a>
                    </li>
                </ul>
                <p>© 2024 Evazion - Tous droits réservés.</p>
            </div>
        </div>
    </footer>
    <a href="#" class="scroll-top-button">
        <i class="fa-solid fa-arrow-up"></i>
    </a>
</body>
</html>