<!DOCTYPE html>
<html>
<head>
    <!-- Basiques -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explorez des destinations uniques et profitez d'offres de voyage sur mesure avec Evazion. Partez à la découverte du monde en toute sérénité.">
    <meta name="keywords" content="voyage, tourisme, vacances, destinations, escapades, aventure, Evazion, voyages sur mesure">
    <meta name="author" content="Younes Achouche, Zayd Ajjaji, Lucas Colussi, Mehdi El Kadaoui, Daniele Sandra Tonfack Yonta">
    <!-- Barre de titre -->
    <title>Se connecter - Evazion</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/evazion-logo.svg">
    <!-- Styles globaux du site -->
    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/scroll-top-button.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/notification.css">
    <!-- Style de la page -->
    <link rel="stylesheet" type="text/css" href="../static/styles/registration.css">
    <!-- Scripts -->
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<!-- Header -->
<header class="header">
    <!-- Barre de navigation -->
    <div class="top-bar">
        <!-- Logo et lien vers la page d'accueil -->
        <div class="logo">
            <a th:href="@{/}">
                Evazion
            </a>
        </div>
        <!-- Menu de navigation principal -->
        <ul class="navigation">
            <!-- Page des destinations (menu déroulant) -->
            <li class="navigation-item trips-item">
                <a th:href="@{/destinations}">Voyages</a>
                <!-- Listes des continents -->
                <ul class="navigation-item trips-dropdown">
                    <li class="dropdown-item">
                        <a href="#">Afrique</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Amérique du Nord</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Amérique du Sud</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Asie</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Europe</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Océanie</a>
                    </li>
                </ul>
            </li>
            <!-- Page des avis -->
            <li class="navigation-item">
                <a th:href="@{/reviews/liste}">Avis</a>
            </li>
            <!-- Page de contact -->
            <li class="navigation-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <!-- Zone de recherche et accès au profil utilisateur -->
            <li class="navigation-item buttons-container">
                <!-- Formulaire de recherche -->
                <form class="navigation-item search-bar">
                    <input type="text" class="search-input" placeholder="Rechercher" size="10">
                    <button type="submit" class="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <!-- Profil utilisateur -->
                <a th:href="@{/users/user-profile}" class="navigation-item account">
                    <i class="fa-solid fa-user"></i> Compte
                </a>
            </li>
        </ul>
    </div>
</header>
<!-- Section principale : Corps de la page -->
<section class="main-section">
    <h3>Connexion</h3>
    <form method="post" action="/login" class="login-form" id="login-form" novalidate>
        <div class="form-group">
            <h5>Email</h5>
            <input type="email" id="email" name="username">
            <div class="error" id="emailError"></div>
        </div>
        <div class="form-group">
            <h5>Mot de passe</h5>
            <input type="password" id="password" name="password">
            <div class="error" id="passwordError"></div>
        </div>
        <div class="form-group">
            <button type="submit" class="submit-button">Se connecter</button>
        </div>
    </form>
    <p class="message">Pas encore inscrit ? Créez un compte en cliquant <a href="/users/new">ici</a>.</p>
    <script src="../static/scripts/log-in-validation.js"></script>
</section>
<div id="popup" class="popup hidden">
    <div class="popup-content">
        <span id="popup-close" class="popup-close"></span>
        <p id="popup-comment"></p>
    </div>
</div>
<script src="../static/scripts/review-card-filling.js"></script>
<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <!-- Partie haute : Description de l'agence -->
        <div class="footer-top">
            <h3>Evazion</h3>
            <p>Evazion propose des voyages sur mesure pour des escapades uniques, mêlant aventure, détente et découvertes culturelles. Faites confiance à notre expertise pour transformer vos envies d’évasion en souvenirs mémorables, où que vos rêves vous mènent.</p>
        </div>
        <!-- Partie centrale : Liens et informations -->
        <div class="footer-center">
            <div class="footer-center-section">
                <h3>Accès rapide</h3>
                <ul class="pages">
                    <li>
                        <a href="#">Qui sommes-nous ?</a>
                    </li>
                    <li>
                        <a href="#">Foire aux questions</a>
                    </li>
                    <li>
                        <a href="#">Avis</a>
                    </li>
                </ul>
            </div>
            <div class="footer-center-section">
                <h3>Contactez-nous</h3>
                <ul class="contact">
                    <li>
                        <i class="fa-solid fa-phone"></i> +33 1 23 45 67 89
                    </li>
                    <li>
                        <a href="mailto:contact@evazion.com" target="_blank"><i class="fa-solid fa-envelope"></i> contact@evazion.com</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> Evazion - Agence de voyage</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> evazionvoyages</a>
                    </li>
                </ul>
            </div>
            <div class="footer-center-section">
                <h3>Partenaires</h3>
                <ul class="partners">
                    <li>SkyLynx Airways</li>
                    <li>Aurora Haven</li>
                    <li>Pathfinders Collective</li>
                </ul>
            </div>
        </div>
        <!-- Partie basse : Liens vers les pages "légales" et copyright -->
        <hr>
        <div class="footer-bottom">
            <ul class="documents">
                <li>
                    <a href="#">Politique de confidentialité</a>
                </li>
                <li>
                    <a href="#">Conditions générales de ventes</a>
                </li>
            </ul>
            <p>© 2024 Evazion - Tous droits réservés.</p>
        </div>
    </div>
</footer>
<!-- Bouton de retour en haut de page -->
<a href="#" class="scroll-top-button">
    <i class="fa-solid fa-arrow-up"></i>
</a>
</body>
</html>