<!DOCTYPE html>
<html>
<head>
    <!-- Basiques -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explorez des destinations uniques et profitez d'offres de voyage sur mesure avec Evazion. Partez à la découverte du monde en toute sérénité.">
    <meta name="keywords" content="voyage, tourisme, vacances, destinations, escapades, aventure, Evazion, voyages sur mesure">
    <meta name="author" content="Younes Achouche, Zayd Ajjaji, Lucas Colussi, Mehdi El Kadaoui, Daniele Sandra Tonfack Yonta">
    <!-- Barre de titre -->
    <title>Laisser un avis - Evazion</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/evazion-logo.svg">
    <!-- Styles globaux du site -->
    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/scroll-top-button.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/notification.css">
    <!-- Style de la page -->
    <link rel="stylesheet" type="text/css" href="../static/styles/reviews.css">
    <!-- Scripts -->
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<!-- Header -->
<header class="header">
    <!-- Barre de navigation -->
    <div class="top-bar">
        <!-- Logo et lien vers la page d'accueil -->
        <div class="logo">
            <a th:href="@{/}">
                Evazion
            </a>
        </div>
        <!-- Menu de navigation principal -->
        <ul class="navigation">
            <!-- Page des destinations (menu déroulant) -->
            <li class="navigation-item trips-item">
                <a th:href="@{/destinations}">Voyages</a>
                <!-- Listes des continents -->
                <ul class="navigation-item trips-dropdown">
                    <li class="dropdown-item">
                        <a href="#">Afrique</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Amérique du Nord</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Amérique du Sud</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Asie</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Europe</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Océanie</a>
                    </li>
                </ul>
            </li>
            <!-- Page des avis -->
            <li class="navigation-item">
                <a th:href="@{/reviews/liste}">Avis</a>
            </li>
            <!-- Page de contact -->
            <li class="navigation-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <!-- Zone de recherche et accès au profil utilisateur -->
            <li class="navigation-item buttons-container">
                <!-- Formulaire de recherche -->
                <form class="navigation-item search-bar">
                    <input type="text" class="search-input" placeholder="Rechercher" size="10">
                    <button type="submit" class="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <!-- Profil utilisateur -->
                <a th:href="@{/users/user-profile}" class="navigation-item account">
                    <i class="fa-solid fa-user"></i> Compte
                </a>
            </li>
        </ul>
    </div>
</header>
<!-- Section principale : Corps de la page -->
<section class="main-section">
    <h3>Laisser un avis</h3>
    <p>
        Partagez votre expérience avec Evazion ! Vos avis nous aident à améliorer nos services et à inspirer d'autres voyageurs.
        <br>
        Merci de contribuer à notre aventure.
    </p>
    <div class="review">
        <form action="/reviews/new" method="POST" th:object="${review}" id="form" novalidate>
            <div class="form-main">
                <div class="fields">
                    <label>
                        <span>Destination</span>
                        <select id="destination-select" th:field="*{destinationId}">
                            <option value="" disabled selected>Sélectionner</option>
                            <option th:each="destination : ${destinations}" th:value="${destination.destinationId}" th:data-name="${destination.name}" th:text="${destination.name}">
                            </option>
                        </select>
                        <div class="error" id="destinationError"></div>
                    </label>
                    <br>
                    <label>
                        <span>Note</span>
                        <input type="number" id="rating-input" min="1" max="5" th:field="*{rating}">
                        <div class="error" id="ratingError"></div>
                    </label>
                    <br>
                    <label>
                        <span>Titre</span>
                        <input type="text" id="title-input" maxlength="50" size="40" th:field="*{title}">
                        <div class="error" id="titleError"></div>
                    </label>
                    <br>
                    <label class="comment-field">
                        <span>Commentaire</span>
                        <textarea id="comment-input" rows="4" cols="40" maxlength="1500" th:field="*{comment}"></textarea>
                        <div class="error" id="commentError"></div>
                    </label>
                    <br>
                </div>
                <!-- Rendu du formulaire sous forme d'une carte d'avis -->
                <div class="review-card">
                    <!-- Haut de la carte -->
                    <div class="top">
                        <div class="top-first-row">
                            <!-- Affichage de la note avec des étoiles -->
                            <span class="review-card-rating" id="rating-display"></span>
                            <div class="user-infos">
                                <!-- Prénom -->
                                <span class="username" th:text="${user.firstname}"><span class="at">@</span>Prénom</span>
                                <!-- Date d'inscription -->
                                <span class="inscription-date" th:text="'inscrit(e) le ' + ${user.createdAt}">inscrit(e) le ...</span>
                            </div>
                        </div>
                        <div class="top-last-row">
                            <!-- Titre de la review -->
                            <span class="review-card-title" id="title-display"></span>
                        </div>
                    </div>
                    <!-- Corps de la carte -->
                    <div class="body" id="body">
                        <!-- Commentaire -->
                        <p class="review-card-comment" id="comment-display"></p>
                    </div>
                    <!-- Bas de la carte -->
                    <div class="bottom">
                        <!-- Destination -->
                        <span class="review-card-destination" id="destination-display"></span>
                        <!-- Date de création de la review -->
                        <span class="review-card-date">
                                <i class="fa-solid fa-calendar-days"></i>
                                <span th:text="${#dates.format(todayDate, 'dd/MM/yyyy')}">Date du jour</span>
                            </span>
                    </div>
                </div>
            </div>
            <input type="hidden" th:field="*{createdAt}" th:value="${todayDate}" />
            <div class="button-link">
                <div class="form-group">
                    <!-- Bouton de soumission du formulaire -->
                    <button type="submit" class="btn-submit">Envoyer</button>
                </div>
                <!-- Page des avis -->
                <a href="/reviews">Voir tous les avis</a>
            </div>
        </form>
    </div>
    <script src="../static/scripts/review-validation.js"></script>
</section>
<div id="popup" class="popup hidden">
    <div class="popup-content">
        <span id="popup-close" class="popup-close"></span>
        <p id="popup-comment"></p>
    </div>
</div>
<script src="../static/scripts/review-card-filling.js"></script>
<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <!-- Partie haute : Description de l'agence -->
        <div class="footer-top">
            <h3>Evazion</h3>
            <p>Evazion propose des voyages sur mesure pour des escapades uniques, mêlant aventure, détente et découvertes culturelles. Faites confiance à notre expertise pour transformer vos envies d’évasion en souvenirs mémorables, où que vos rêves vous mènent.</p>
        </div>
        <!-- Partie centrale : Liens et informations -->
        <div class="footer-center">
            <div class="footer-center-section">
                <h3>Accès rapide</h3>
                <ul class="pages">
                    <li>
                        <a href="#">Qui sommes-nous ?</a>
                    </li>
                    <li>
                        <a href="#">Foire aux questions</a>
                    </li>
                    <li>
                        <a href="#">Avis</a>
                    </li>
                </ul>
            </div>
            <div class="footer-center-section">
                <h3>Contactez-nous</h3>
                <ul class="contact">
                    <li>
                        <i class="fa-solid fa-phone"></i> +33 1 23 45 67 89
                    </li>
                    <li>
                        <a href="mailto:contact@evazion.com" target="_blank"><i class="fa-solid fa-envelope"></i> contact@evazion.com</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> Evazion - Agence de voyage</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> evazionvoyages</a>
                    </li>
                </ul>
            </div>
            <div class="footer-center-section">
                <h3>Partenaires</h3>
                <ul class="partners">
                    <li>SkyLynx Airways</li>
                    <li>Aurora Haven</li>
                    <li>Pathfinders Collective</li>
                </ul>
            </div>
        </div>
        <!-- Partie basse : Liens vers les pages "légales" et copyright -->
        <hr>
        <div class="footer-bottom">
            <ul class="documents">
                <li>
                    <a href="#">Politique de confidentialité</a>
                </li>
                <li>
                    <a href="#">Conditions générales de ventes</a>
                </li>
            </ul>
            <p>© 2024 Evazion - Tous droits réservés.</p>
        </div>
    </div>
</footer>
<!-- Bouton de retour en haut de page -->
<a href="#" class="scroll-top-button">
    <i class="fa-solid fa-arrow-up"></i>
</a>
</body>
</html>