<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez nos offres de voyage autour du monde !">
    <meta name="keywords" content="voyage, tourisme, vacances">
    <meta name="author" content="Younes Achouche, Zayd Ajjaji, Lucas Colussi, Mehdi El Kadaoui, Daniele Sandra Tonfack Yonta">
    <title>Avis - Evazion</title>
    <link rel="icon" type="image/x-icon" href="../images/bodygood-3.svg">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/scroll-top-button.css">
    <link rel="stylesheet" href="../styles/reviews.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<header class="header">
    <div class="top-bar">
        <div class="logo">
            <a th:href="@{/}">
                Evazion
            </a>
        </div>
        <ul class="navigation">
            <li class="navigation-item trips-item">
                <a th:href="@{/destinations}">Voyages</a>
                <ul class="navigation-item trips-dropdown">
                    <li class="dropdown-item">
                        <a href="#">Afrique</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Amérique du Nord</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Amérique du Sud</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Asie</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Europe</a>
                    </li>
                </ul>
            </li>
            <li class="navigation-item">
                <a href="#">Blog</a>
            </li>
            <li class="navigation-item">
                <a th:href="@{/reviews/liste}">Avis</a>
            </li>
            <li class="navigation-item">
                <a href="#">Contact</a>
            </li>
            <div class="navigation-item buttons-container">
                <form class="navigation-item search-bar">
                    <input type="text" class="search-input" placeholder="Rechercher" size="10">
                    <button class="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <a th:href="@{/users/profile}" class="navigation-item account">
                    <i class="fa-solid fa-user"></i> Compte
                </a>
            </div>
        </ul>
    </div>
</header>
    <section class="main-section">
        <h3>Avis</h3>
        <p>Votre avis nous intéresse ! Laissez nous être guidés par vos avis, et laissez vous guider (ou pas) vers votre prochaine destination !</p>
        <div class="review-card-container">
            <div th:each="review : ${reviews}" class="review-card">
                <div class="top">
                    <div class="top-first-row">
                        <!-- Affichage de la note avec des étoiles -->
                        <span class="review-card-rating" id="rating-display">
                <i th:each="star : ${#numbers.sequence(1, 5)}"
                   th:classappend="${star <= review.rating} ? 'fa-solid fa-star' : 'fa-regular fa-star'"></i>
            </span>
                        <div class="user-infos">
                            <!-- Nom d'utilisateur -->
                            <span class="username">
                    <span class="at">@</span>
                    <span th:text="${review.user.firstname}">username</span>
                </span>
                            <!-- Date d'inscription -->
                            <span class="inscription-date" th:text="'inscrit(e) le ' + ${#dates.format(review.user.createdAt, 'dd/MM/yyyy')}">
                    inscrit(e) le ...
                </span>
                        </div>
                    </div>
                    <div class="top-last-row">
                        <!-- Titre de la review -->
                        <span class="review-card-title" id="title-display" th:text="${review.title}">Titre</span>
                    </div>
                </div>
                <div class="body" id="body">
                    <!-- Commentaire -->
                    <p class="review-card-comment" id="comment-display" th:text="${review.comment}">Commentaire ...</p>
                </div>
                <div class="bottom">
                    <!-- Destination -->
                    <span class="review-card-destination" id="destination-display">
            <i class="fa-solid fa-location-dot"></i>
            <span th:text="${review.destination.name}"></span>
        </span>
                    <!-- Date de création de la review -->
                    <span class="review-card-date">
            <i class="fa-solid fa-calendar-days"></i>
            <span th:text="${review.createdAt}"></span>
        </span>
                </div>
            </div>
    </section>
    <div id="popup" class="popup hidden">
        <div class="popup-content">
            <span id="popup-close" class="popup-close"></span>
            <p id="popup-comment"></p>
        </div>
    </div>
    <script>
        // Script pour afficher correctement la carte : comme 'review-form.html' mais en plus simple en gros
    </script>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-top">
                <h3>Evazion</h3>
                <p>Evazion propose des voyages sur mesure pour des escapades uniques, mêlant aventure, détente et découvertes culturelles. Faites confiance à notre expertise pour transformer vos envies d’évasion en souvenirs mémorables, où que vos rêves vous mènent.</p>
            </div>
            <div class="footer-center">
                <div class="footer-center-section">
                    <h3>Accès rapide</h3>
                    <ul class="pages">
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Qui sommes-nous ?</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-center-section">
                    <h3>Contactez-nous</h3>
                    <ul class="contact">
                        <li>
                            <i class="fa-solid fa-phone"></i> +33 1 23 45 67 89
                        </li>
                        <li>
                            <a href="mailto:contact@evazion.com" target="_blank"><i class="fa-solid fa-envelope"></i> contact@evazion.com</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> Evazion - Agence de voyage</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> evazionvoyages</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-center-section">
                    <h3>Partenaires</h3>
                    <ul class="partners">
                        <li>SkyLynx Airways</li>
                        <li>Aurora Haven</li>
                        <li>Pathfinders Collective</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer-bottom">
                <ul class="documents">
                    <li>
                        <a href="politique-de-confidentialite.html">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a href="cgv.html">Conditions générales de ventes</a>
                    </li>
                </ul>
                <p>© 2024 Evazion - Tous droits réservés.</p>
            </div>
        </div>
    </footer>
    <a href="#" class="scroll-top-button">
        <i class="fa-solid fa-arrow-up"></i>
    </a>
</body>
</html>