<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez nos offres de voyage autour du monde !">
    <meta name="keywords" content="voyage, tourisme, vacances">
    <meta name="author" content="Younes Achouche, Zayd Ajjaji, Lucas Colussi, Mehdi El Kadaoui, Daniele Sandra Tonfack Yonta">
    <title>Avis - Evazion</title>
    <link rel="icon" type="image/x-icon" href="../images/bodygood-3.svg">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/scroll-top-button.css">
    <link rel="stylesheet" href="../styles/reviews.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <header class="header">
        <div class="top-bar">
            <div class="logo">
                <a href="index.html">
                    Evazion
                </a>
            </div>
            <ul class="navigation">
                <li class="navigation-item trips-item">
                    <a href="voyages.html">Voyages</a>
                    <ul class="navigation-item trips-dropdown">
                        <li class="dropdown-item">
                            <a href="voyages.html">Afrique</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="voyages.html">Amérique du Nord</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="voyages.html">Amérique du Sud</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="voyages.html">Asie</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="voyages.html">Europe</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="voyages.html">Océanie</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation-item">
                    <a href="blog.html">Blog</a>
                </li>
                <li class="navigation-item">
                    <a href="reviews.html">Avis</a>
                </li>
                <li class="navigation-item">
                    <a href="contact.html">Contact</a>
                </li>
                <div class="navigation-item buttons-container">
                    <form class="navigation-item search-bar">
                        <input type="text" class="search-input" placeholder="Rechercher" size="10">
                        <button class="search-button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                    <a href="user-profile.html" class="navigation-item account">
                        <i class="fa-solid fa-user"></i> Compte
                    </a>
                </div>
            </ul>
        </div>
    </header>
    <section class="main-section">
        <h3>Avis</h3>
        <p>Blablabla blablabla blablabla.</p>
        <div class="review-card-container">
            <div class="review-card">
                <div class="top">
                    <div class="top-first-row">
                        <span class="review-card-rating" id="rating-display"><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span>
                        <div class="user-infos">
                            <span class="username"><span class="at">@</span>username</span>
                            <span class="inscription-date">inscrit(e) le ...</span>
                        </div>
                    </div>
                    <div class="top-last-row">
                        <span class="review-card-title" id="title-display">Titre</span>
                    </div>
                </div>
                <div class="body" id="body">
                    <p class="review-card-comment" id="comment-display">Commentaire ...</p>
                </div>
                <div class="bottom">
                    <span class="review-card-destination" id="destination-display"><i class="fa-solid fa-location-dot"></i></span>
                    <span class="review-card-date"><i class="fa-solid fa-calendar-days"></i></span>
                </div>
            </div>
            <div class="review-card">
                <div class="top">
                    <div class="top-first-row">
                        <span class="review-card-rating" id="rating-display"><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span>
                        <div class="user-infos">
                            <span class="username"><span class="at">@</span>username</span>
                            <span class="inscription-date">inscrit(e) le ...</span>
                        </div>
                    </div>
                    <div class="top-last-row">
                        <span class="review-card-title" id="title-display">Titre</span>
                    </div>
                </div>
                <div class="body" id="body">
                    <p class="review-card-comment" id="comment-display">Commentaire ...</p>
                </div>
                <div class="bottom">
                    <span class="review-card-destination" id="destination-display"><i class="fa-solid fa-location-dot"></i></span>
                    <span class="review-card-date"><i class="fa-solid fa-calendar-days"></i></span>
                </div>
            </div>
            <div class="review-card">
                <div class="top">
                    <div class="top-first-row">
                        <span class="review-card-rating" id="rating-display"><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span>
                        <div class="user-infos">
                            <span class="username"><span class="at">@</span>username</span>
                            <span class="inscription-date">inscrit(e) le ...</span>
                        </div>
                    </div>
                    <div class="top-last-row">
                        <span class="review-card-title" id="title-display">Titre</span>
                    </div>
                </div>
                <div class="body" id="body">
                    <p class="review-card-comment" id="comment-display">Commentaire ...</p>
                </div>
                <div class="bottom">
                    <span class="review-card-destination" id="destination-display"><i class="fa-solid fa-location-dot"></i></span>
                    <span class="review-card-date"><i class="fa-solid fa-calendar-days"></i></span>
                </div>
            </div>
            <div class="review-card">
                <div class="top">
                    <div class="top-first-row">
                        <span class="review-card-rating" id="rating-display"><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span>
                        <div class="user-infos">
                            <span class="username"><span class="at">@</span>username</span>
                            <span class="inscription-date">inscrit(e) le ...</span>
                        </div>
                    </div>
                    <div class="top-last-row">
                        <span class="review-card-title" id="title-display">Titre</span>
                    </div>
                </div>
                <div class="body" id="body">
                    <p class="review-card-comment" id="comment-display">Commentaire ...</p>
                </div>
                <div class="bottom">
                    <span class="review-card-destination" id="destination-display"><i class="fa-solid fa-location-dot"></i></span>
                    <span class="review-card-date"><i class="fa-solid fa-calendar-days"></i></span>
                </div>
            </div>
            <div class="review-card">
                <div class="top">
                    <div class="top-first-row">
                        <span class="review-card-rating" id="rating-display"><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span>
                        <div class="user-infos">
                            <span class="username"><span class="at">@</span>username</span>
                            <span class="inscription-date">inscrit(e) le ...</span>
                        </div>
                    </div>
                    <div class="top-last-row">
                        <span class="review-card-title" id="title-display">Titre</span>
                    </div>
                </div>
                <div class="body" id="body">
                    <p class="review-card-comment" id="comment-display">Commentaire ...</p>
                </div>
                <div class="bottom">
                    <span class="review-card-destination" id="destination-display"><i class="fa-solid fa-location-dot"></i></span>
                    <span class="review-card-date"><i class="fa-solid fa-calendar-days"></i></span>
                </div>
            </div>
    </section>
    <div id="popup" class="popup hidden">
        <div class="popup-content">
            <span id="popup-close" class="popup-close"></span>
            <p id="popup-comment"></p>
        </div>
    </div>
    <script>
        // Script pour afficher correctement la carte : comme 'review-form.html' mais en plus simple en gros
    </script>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-top">
                <h3>Evazion</h3>
                <p>Evazion propose des voyages sur mesure pour des escapades uniques, mêlant aventure, détente et découvertes culturelles. Faites confiance à notre expertise pour transformer vos envies d’évasion en souvenirs mémorables, où que vos rêves vous mènent.</p>
            </div>
            <div class="footer-center">
                <div class="footer-center-section">
                    <h3>Accès rapide</h3>
                    <ul class="pages">
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Qui sommes-nous ?</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-center-section">
                    <h3>Contactez-nous</h3>
                    <ul class="contact">
                        <li>
                            <i class="fa-solid fa-phone"></i> +33 1 23 45 67 89
                        </li>
                        <li>
                            <a href="mailto:contact@evazion.com" target="_blank"><i class="fa-solid fa-envelope"></i> contact@evazion.com</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> Evazion - Agence de voyage</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> evazionvoyages</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-center-section">
                    <h3>Partenaires</h3>
                    <ul class="partners">
                        <li>SkyLynx Airways</li>
                        <li>Aurora Haven</li>
                        <li>Pathfinders Collective</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer-bottom">
                <ul class="documents">
                    <li>
                        <a href="politique-de-confidentialite.html">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a href="cgv.html">Conditions générales de ventes</a>
                    </li>
                </ul>
                <p>© 2024 Evazion - Tous droits réservés.</p>
            </div>
        </div>
    </footer>
    <a href="#" class="scroll-top-button">
        <i class="fa-solid fa-arrow-up"></i>
    </a>
</body>
</html>