<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Supprimer un utilisateur">
    <meta name="keywords" content="utilisateur, supprimer">
    <meta name="author" content="Evazion">
    <title>Liste des utilisateurs - Evazion</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/scroll-top-button.css">
    <link rel="stylesheet" href="/styles/notification.css">
    <link rel="stylesheet" href="/styles/review-delete.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="/script/notification.js"></script>
</head>
<body>
<header class="header">
    <div class="top-bar">
        <div class="logo">
            <a th:href="@{/}">
                Evazion
            </a>
        </div>
        <ul class="navigation">
            <li class="navigation-item trips-item">
                <a th:href="@{/destinations}">Voyages</a>
            </li>
            <li class="navigation-item">
                <a th:href="@{/reviews}">Avis</a>
            </li>
            <li class="navigation-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <div class="navigation-item buttons-container">
                <a th:href="@{/users/user-profile}" class="navigation-item account">
                    <i class="fa-solid fa-user"></i> Compte
                </a>
            </div>
        </ul>
    </div>
    <div class="base-line">
        <strong class="base-line-name">Evazion</strong>
        <span class="base-line-slogan">Laissez vos rêves devenir votre prochaine evazion.</span>
    </div>
</header>
<section class="main-section">
    <h3>Supprimer un avis</h3>
    <p>Êtes-vous sûr de vouloir supprimer cet avis ? Cette action est irréversible.</p>
    <div class="review-card">
        <div class="top">
            <div class="top-first-row">
                <span th:each="star : ${#numbers.sequence(1, 5)}" th:classappend="${star <= review.rating} ? 'fa-solid fa-star' : 'fa-regular fa-star'"></span>
                <div class="user-infos">
                    <span class="username" th:text="${review.user.firstname}"><span class="at">@</span>username</span>
                    <span class="inscription-date" th:text="'inscrit(e) le ' + ${#dates.format(review.user.createdAt, 'dd/MM/yyyy')}">inscrit(e) le ...</span>
                </div>
            </div>
            <div class="top-last-row">
                <span class="review-card-title" th:text="${review.title}">Titre ...</span>
            </div>
        </div>
        <div class="body" id="body">
            <p class="review-card-comment" th:text="${review.comment}">Commentaire ...</p>
        </div>
        <div class="bottom">
            <span th:text="${review.destination.name}" class="review-card-destination"><span><i class="fa-solid fa-location-dot"></i></span> Destination</span>
            <span th:text="${#temporals.format(review.createdAt, 'dd/MM/yyyy')}" class="review-card-date"><span><i class="fa-solid fa-calendar-days"></i></span> Date</span>
        </div>
    </div>
    <div class="button-link">
        <!-- Formulaire pour confirmer la suppression -->
        <form th:action="@{'/reviews/confirm-delete/' + ${review.reviewId}}" method="post" onsubmit="return confirmDeletion();">
            <button type="submit" class="btn-delete"><i class="fa-solid fa-check"></i> Supprimer</button>
        </form>
        <!-- Lien pour annuler la suppression -->
        <a th:href="@{/reviews/review-list}" class="btn-cancel"><i class="fa-solid fa-x"></i> Annuler</a>
    </div>
</section>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-top">
            <h3>Evazion</h3>
            <p>Evazion propose des voyages sur mesure pour des escapades uniques, mêlant aventure, détente et découvertes culturelles.</p>
        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <p>© 2024 Evazion - Tous droits réservés.</p>
    </div>
</footer>

<!-- Script pour gérer la confirmation de suppression -->
<script>
    function confirmDeletion() {
        return confirm("Êtes-vous sûr de vouloir supprimer cet avis ?");
    }
</script>
</body>
</html>