<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez nos offres de voyage autour du monde !">
    <meta name="keywords" content="voyage, tourisme, vacances">
    <meta name="author" content="Younes Achouche, Zayd Ajjaji, Lucas Colussi, Mehdi El Kadaoui, Daniele Sandra Tonfack Yonta">
    <title>Ajouter un utilisateur - Evazion</title>
    <link rel="icon" type="image/x-icon" href="/assets/evazion-logo.png">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/scroll-top-button.css">
    <link rel="stylesheet" href="/styles/inscription.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<header class="header">
    <div class="top-bar">
        <div class="logo">
            <a th:href="@{/}">
                Evazion
            </a>
        </div>
        <ul class="navigation">
            <li class="navigation-item trips-item">
                <a th:href="@{/destinations}">Voyages</a>
            </li>
            <li class="navigation-item">
                <a th:href="@{/reviews}">Avis</a>
            </li>
            <li class="navigation-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <li class="navigation-item buttons-container">
                <a th:href="@{/users/user-profile}" class="navigation-item account">
                    <i class="fa-solid fa-user"></i> Compte
                </a>
            </li>
        </ul>
    </div>
</header>
<section class="main-section">
    <h1 class="title">Création d'utilisateur</h1>
    <p class="description">Créez un compte en tant qu'administrateur.</p>
    <form action="/users/new" method="post" class="registration-form">
        <div class="form-block">
            <div class="form-group">
                <h5>Nom</h5>
                <input type="text" id="firstname" name="firstname" placeholder="..." required>
            </div>
            <div class="form-group">
                <h5>Prénom</h5>
                <input type="text" id="lastname" name="lastname" placeholder="..." required>
            </div>
        </div>
        <div class="form-group">
            <h5>Email</h5>
            <input type="email" id="email" name="email" placeholder="..." required>
        </div>
        <div class="form-group">
            <h5>Téléphone</h5>
            <input type="text" id="phonenumber" name="phonenumber" placeholder="..." required>
        </div>
        <div class="form-block">
            <div class="form-group">
                <h5>Mot de passe</h5>
                <input type="password" id="password" name="password" placeholder="..." required>
            </div>
            <div class="form-group">
                <h5>Confirmer le mot de passe</h5>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="..." required>
            </div>
        </div>
        <div class="form-group">
            <label>Type d'utilisateur</label>
            <div>
                <input type="radio" id="user" name="admin" value="false" checked>
                <label for="user">Utilisateur</label>
            </div>
            <div>
                <input type="radio" id="admin" name="admin" value="true">
                <label for="admin">Administrateur</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="submit-button"><i class="fa-solid fa-plus"></i> Créer</button>
        </div>
    </form>
</section>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-top">
            <h3>Evazion</h3>
            <p>Evazion propose des voyages sur mesure pour des escapades uniques, mêlant aventure, détente et découvertes culturelles. Faites confiance à notre expertise pour transformer vos envies d’évasion en souvenirs mémorables, où que vos rêves vous mènent.</p>
        </div>
        <div class="footer-center">
            <div class="footer-center-section">
                <h3>Accès rapide</h3>
                <ul class="pages">
                    <li>
                        <a th:href="@{/about-us}">Qui sommes-nous ?</a>
                    </li>
                    <li>
                        <a th:href="@{/faq}">Foire aux questions</a>
                    </li>
                    <li>
                        <a th:href="@{/reviews}">Avis</a>
                    </li>
                </ul>
            </div>
            <div class="footer-center-section">
                <h3>Contactez-nous</h3>
                <ul class="contact">
                    <li>
                        <i class="fa-solid fa-phone"></i> +33 1 23 45 67 89
                    </li>
                    <li>
                        <a href="mailto:contact@evazion.com" target="_blank"><i class="fa-solid fa-envelope"></i> contact@evazion.com</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> Evazion - Agence de voyage</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> evazionvoyages</a>
                    </li>
                </ul>
            </div>
            <div class="footer-center-section">
                <h3>Partenaires</h3>
                <ul class="partners">
                    <li>SkyLynx Airways</li>
                    <li>Aurora Haven</li>
                    <li>Pathfinders Collective</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <ul class="documents">
                <li>
                    <a th:href="@{/politique-de-confidentialite}">Politique de confidentialité</a>
                </li>
                <li>
                    <a th:href="@{/cgv}">Conditions générales de ventes</a>
                </li>
            </ul>
            <p>© 2024 Evazion - Tous droits réservés.</p>
        </div>
    </div>
</footer>
<a href="#" class="scroll-top-button">
    <i class="fa-solid fa-arrow-up"></i>
</a>
</body>
</html>