<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez nos offres de voyage autour du monde !">
    <meta name="keywords" content="voyage, tourisme, vacances">
    <meta name="author" content="Younes Achouche, Zayd Ajjaji, Lucas Colussi, Mehdi El Kadaoui, Daniele Sandra Tonfack Yonta">
    <title>Votre profil - Evazion</title>
    <link rel="icon" type="image/x-icon" href="/assets/evazion-logo.png">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/scroll-top-button.css">
    <link rel="stylesheet" href="/styles/notification.css">
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="/script/notification.js"></script>
</head>
<body>
<header class="header">
    <div class="top-bar">
        <div class="logo">
            <a th:href="@{/}">
                Evazion
            </a>
        </div>
        <ul class="navigation">
            <li class="navigation-item trips-item">
                <a th:href="@{/destinations}">Voyages</a>
            </li>
            <li class="navigation-item">
                <a th:href="@{/reviews}">Avis</a>
            </li>
            <li class="navigation-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <li class="navigation-item buttons-container">
                <a th:href="@{/users/user-profile}" class="navigation-item account">
                    <i class="fa-solid fa-user"></i> Compte
                </a>
            </li>
        </ul>
    </div>
</header>

    <!--/*@thymesVar id="successMessageUpdateUserHimself" type="java"*/-->
    <p class="notification" th:if="${successMessageUpdateUserHimself}">
        <i class="fa-solid fa-user-check"></i>
        <span th:text="${successMessageUpdateUserHimself}"></span>
    </p>
    <section class="main-section">
        <h3 class="title">Profil</h3>
        <p class="description">
            Dans votre profil, retrouvez toutes vos informations personnelles. Vos données sont sécurisées et utilisées conformément à notre
            <a href="politique-de-confidentialite.html">Politique de confidentialité</a>.
        </p>
        <div class="informations">
            <div class="informations-item">
                <h5>Nom</h5>
                <p th:text="${user.lastname}">Nom</p>
            </div>
            <div class="informations-item">
                <h5>Prénom</h5>
                <p th:text="${user.firstname}">Prénom</p>
            </div>
            <div class="informations-item">
                <h5>E-mail</h5>
                <p th:text="${user.email}">E-mail</p>
            </div>
            <div class="informations-item">
                <h5>Téléphone</h5>
                <p th:text="${user.phonenumber}">Téléphone</p>
            </div>
            <div class="informations-item">
                <h5>Date d'inscription</h5>
                <p th:text="${#dates.format(user.createdAt, 'dd/MM/yyyy')}">Date d'inscription</p>
            </div>
            <div class="buttons">
                <a th:href="@{/users/user-edit-himself}" class="edit-button">
                    <i class="fa-solid fa-user-pen"></i> Modifier
                </a>
                <a>
                    <form th:action="@{'/users/user-delete/' + ${user.userId}}" method="post" style="display: inline;">
                    <button type="submit" class="delete-button">
                            <i class="fa-solid fa-trash"></i> Supprimer
                        </button>
                    </form>
                </a>
                <a th:href="@{/logout}" class="log-out-button">
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter
                    </form>
                </a>
            </div>
        </div>
        <a class="add-user" th:href="@{/destinations/new}" th:if="${isAdmin}">
            <i class="fa-solid fa-user-plus"></i> Ajouter une destination
        </a>
        <a class="add-user" th:href="@{/destinations/list}" th:if="${isAdmin}">
            <i class="fa-solid fa-user-plus"></i> Afficher liste des destinations et les gérer
        </a>
        <a class="add-user" th:href="@{/users/newadmin}" th:if="${isAdmin}">
            <i class="fa-solid fa-user-plus"></i> Ajouter un utilisateur/administrateur
        </a>
        <a class="add-user" th:href="@{/users/list}" th:if="${isAdmin}">
            <i class="fa-solid fa-user-plus"></i> Afficher liste des utilisateurs et les gérer
        </a>
        <a class="add-user" th:href="@{/reviews/review-list}" th:if="${isAdmin}">
            <i class="fa-solid fa-user-plus"></i> Afficher liste des avis et les gérer
        </a>
        <a class="add-user" th:href="@{/reviews/new}" th:if="${isUser}">
            <i class="fa-solid fa-user-plus"></i> Ajouter un avis
        </a>
    </section>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-top">
            <h3>Evazion</h3>
            <p>Evazion propose des voyages sur mesure pour des escapades uniques, mêlant aventure, détente et découvertes culturelles. Faites confiance à notre expertise pour transformer vos envies d’évasion en souvenirs mémorables, où que vos rêves vous mènent.</p>
        </div>
        <div class="footer-center">
            <div class="footer-center-section">
                <h3>Accès rapide</h3>
                <ul class="pages">
                    <li>
                        <a th:href="@{/about-us}">Qui sommes-nous ?</a>
                    </li>
                    <li>
                        <a th:href="@{/faq}">Foire aux questions</a>
                    </li>
                    <li>
                        <a th:href="@{/reviews}">Avis</a>
                    </li>
                </ul>
            </div>
            <div class="footer-center-section">
                <h3>Contactez-nous</h3>
                <ul class="contact">
                    <li>
                        <i class="fa-solid fa-phone"></i> +33 1 23 45 67 89
                    </li>
                    <li>
                        <a href="mailto:contact@evazion.com" target="_blank"><i class="fa-solid fa-envelope"></i> contact@evazion.com</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> Evazion - Agence de voyage</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> evazionvoyages</a>
                    </li>
                </ul>
            </div>
            <div class="footer-center-section">
                <h3>Partenaires</h3>
                <ul class="partners">
                    <li>SkyLynx Airways</li>
                    <li>Aurora Haven</li>
                    <li>Pathfinders Collective</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <ul class="documents">
                <li>
                    <a th:href="@{/politique-de-confidentialite}">Politique de confidentialité</a>
                </li>
                <li>
                    <a th:href="@{/cgv}">Conditions générales de ventes</a>
                </li>
            </ul>
            <p>© 2024 Evazion - Tous droits réservés.</p>
        </div>
    </div>
</footer>
    <a href="#" class="scroll-top-button">
        <i class="fa-solid fa-arrow-up"></i>
    </a>
</body>
</html>