:root {
    --text-color-white: #FFFFFF;
    --text-color-gray: #4D4D4D;
    --accent-color-1: #06506E;
    --accent-color-2: #C89608;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 115px 12.5% 0;
    margin-bottom: 75px;
    width: 100%;
    align-items: center;
}

.main-section h3 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    transition: letter-spacing .3s ease-in-out;
    color: var(--accent-color-2);
}

.main-section h3:hover {
    letter-spacing: 7px;
}

.main-section p {
    margin-bottom: 25px;
    align-self: flex-start;
}

.main-section p a {
    font-style: italic;
    color: var(--accent-color-2);
}

.review-card {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 350px;
    z-index: 100;
    padding: 25px;
    border-radius: 25px;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 25px;
}

.review-card .top .top-first-row {
    display: flex;
    justify-content: space-between;
}

.review-card .top .top-first-row .review-card-rating {
    font-size: 1.5rem;
}

.review-card .top .top-first-row .review-card-rating i {
    color: var(--accent-color-1);
}

.review-card .top .top-first-row .user-infos {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.review-card .top .top-first-row .user-infos .username {
    font-weight: bold;
}

.review-card .top .top-first-row .user-infos .username .at {
    color: var(--accent-color-2);
}

.review-card .top .top-first-row .user-infos .inscription-date {
    line-height: .5;
    font-size: .75rem;
    font-style: italic;
    opacity: .75;
    margin-top: 5px;
}

.review-card .top .top-last-row {
    margin-top: 7%;
}

.review-card .top .top-last-row .review-card-title {
    margin-top: 7%;
    font-weight: bold;
    max-width: 75%;
}

.review-card .body {
    cursor: pointer;
    min-height: 150px;
}

.review-card .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.review-card .bottom i {
    margin-right: 5px;
    color: var(--accent-color-2);
}

.review-card .bottom .review-card-destination {
    font-weight: bold;
}

.main-section .button-link {
    display: flex;
    gap: 25px;
}

.main-section .button-link .btn-delete,
.main-section .button-link .btn-cancel {
    font-size: .875rem;
    background-color: var(--text-color-white);
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    align-self: center;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    box-sizing: border-box;
}

.main-section .button-link .btn-delete {
    color: var(--accent-color-1);
    border: solid 1px var(--accent-color-1);
}

.main-section .button-link .btn-delete:hover {
    background-color: var(--accent-color-1);
    color: var(--text-color-white);
}

.main-section .button-link .btn-delete i {
    margin-right: 5px;
}

.main-section .button-link .btn-cancel {
    color: var(--accent-color-2);
    border: solid 1px var(--accent-color-2);
}

.main-section .button-link .btn-cancel:hover {
    background-color: var(--accent-color-2);
    color: var(--text-color-white);
}

.main-section .button-link .btn-cancel i {
    margin-right: 5px;
}

@media (max-width: 1010px) {

    .main-section {
        padding: 0 12.5% 0;
        margin-bottom: 75px;
    }

}