:root {
  --text-color-white: #FFFFFF;
  --text-color-gray: #4D4D4D;
  --accent-color-1: #06506E;
  --accent-color-2: #C89608;
}

.main-section {
  padding: 115px 12.5% 0;
  margin-bottom: 75px;
  width: 100%;
}

.main-section h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  transition: letter-spacing .3s ease-in-out;
  color: var(--accent-color-2);
}

.main-section h3:hover {
  letter-spacing: 7px;
}

.main-section p {
  margin-bottom: 25px;
}

.main-section p a {
  font-style: italic;
  color: var(--accent-color-2);
}

.main-section .review-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.main-section .review-card-container .review-card {
  position: relative;
  width: 750px;
  min-height: 350px;
  z-index: 100;
  padding: 25px;
  border-radius: 25px;
  background-color: #FFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.main-section .review-card-container .review-card .top .top-first-row {
  display: flex;
  justify-content: space-between;
}

.main-section .review-card-container .review-card .top .top-first-row .review-card-rating {
  font-size: 1.5rem;
}

.main-section .review-card-container .review-card .top .top-first-row .review-card-rating i {
  color: var(--accent-color-1);
}

.main-section .review-card-container .review-card .top .top-first-row .user-infos {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.main-section .review-card-container .review-card .top .top-first-row .user-infos .username {
  font-weight: bold;
}

.main-section .review-card-container .review-card .top .top-first-row .user-infos .username .at {
  color: var(--accent-color-2);
}

.main-section .review-card-container .review-card .top .top-first-row .user-infos .inscription-date {
  line-height: .5;
  font-size: .75rem;
  font-style: italic;
  opacity: .75;
  margin-top: 5px;
}

.main-section .review-card-container .review-card .top .top-last-row {
  margin-top: 7%;
}

.main-section .review-card-container .review-card .top .top-last-row .review-card-title {
  margin-top: 7%;
  font-weight: bold;
  max-width: 75%;
}

.main-section .review-card-container .review-card .body {
  cursor: pointer;
  min-height: 150px;
}

.main-section .review-card-container .review-card .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.main-section .review-card-container .review-card .bottom i {
  margin-right: 5px;
  color: var(--accent-color-2);
}

.main-section .review-card-container .review-card .bottom .review-card-destination {
  font-weight: bold;
}

@media (max-width: 1010px) {

  .main-section {
    padding: 0 12.5% 0;
    margin-bottom: 75px;
  }

  .main-section .details {
    margin-bottom: 0;
  }

}