:root {
	--text-color-white: #FFFFFF;
	--text-color-gray: #4D4D4D;
	--accent-color-1: #06506E;
	--accent-color-2: #C89608;
}

.main-section {
	padding: 115px 12.5% 0;
	margin-bottom: 75px;
	width: 100%;
}

.main-section .title {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 6px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	transition: letter-spacing .3s ease-in-out;
	color: var(--accent-color-2);
}

.main-section .title:hover {
	letter-spacing: 7px;
}

.main-section .description a {
	font-style: italic;
	transition: all .3s ease-in-out;
}

.main-section .description a:hover {
	color: var(--accent-color-2);
}

.main-section .informations {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0 0;
}

.main-section .informations .informations-item h5 {
	font-size: .675rem;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--accent-color-1);
	margin: 0 0 10px 0;
}

.main-section .informations .informations-item p, .main-section .informations .informations-item input {
	font-size: .675rem;
	padding: 0 5px 5px 5px;
	border: none;
	border-bottom: solid 1px var(--accent-color-1);
	color: var(--accent-color-1);
	min-width: 100px;
	max-width: 200px;
}

.main-section .informations .informations-item input:focus {
	outline: none;
}

.main-section .informations .buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.main-section .informations .buttons a, .main-section .informations .buttons button {
	font-size: .675rem;
	border: none;
	outline: none;
	color: var(--text-color-white);
	border-radius: 5px;
	padding: 8px 10px 7px;
	margin-left: 0;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	width: 100%;
	height: auto;
}

.main-section .informations .buttons .edit-button {
	color: var(--accent-color-1);
	border: solid 1px var(--accent-color-1);
}

.main-section .informations .buttons .delete-button {
	background-color: var(--accent-color-1);
	padding: 12px 10px 11px;
}

.main-section .informations .buttons .log-out-button, .confirm-button {
	background-color: var(--accent-color-2);
}

.main-section .informations .buttons a i, .main-section .informations .buttons button i {
	margin-right: 5px;
}

.main-section .admin-links-container {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	flex-wrap: wrap;
}

.main-section .user-links-container {
	display: flex;
	justify-content: center;
	gap: 25px;
	margin-top: 25px;
}

.main-section .admin-links-container .admin-link:last-child {
	margin-top: 15px;
}

.main-section .admin-links-container .admin-link, .main-section .user-links-container .user-link {
	font-size: .5rem;
	outline: none;
	border-radius: 5px;
	padding: 8px 10px 7px;
	margin-left: 0;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	color: var(--accent-color-1);
	border: solid 1px var(--accent-color-1);
	transition: all .3s ease-in-out;
}

.main-section .admin-links-container .admin-link:hover, .main-section .user-links-container .user-link:hover {
	color: var(--text-color-white);
	background-color: var(--accent-color-1);
}

.main-section .admin-links-container .admin-link i, .main-section .user-links-container .user-link i {
	margin-right: 5px;
}

.main-section .back-button {
	color: var(--accent-color-1);
}

@media (max-width: 1300px) {

	.main-section .informations {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}

	.main-section .informations .informations-item p, .main-section .informations .informations-item input {
		width: 100%;
		max-width: 100%;
	}

	.main-section .buttons {
		text-align: center;
	}

	.main-section .admin-links-container, .main-section .user-links-container {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}

	.main-section .admin-links-container .admin-link, .main-section .user-links-container .user-link {
		width: 100%;
		max-width: 100%;
	}

	.main-section .admin-links-container .admin-link:last-child {
		margin-top: 0;
	}

}

@media (max-width: 1010px) {

	.main-section {
		padding: 0 12.5% 0;
		margin-bottom: 75px;
	}

}